.bx-pager
a{margin-right:4px;color:#fff;zoom:1;overflow:hidden;height:10px;width:10px;text-indent:-99999px;position:relative;display:block;float:left;background:url(../img/gray_pager.png) no-repeat 0 -10px}.bx-next:hover,.bx-prev:hover{background-position:0 0}.bx-pager .pager-active,
.bx-pager a:hover{background-position:0 0}.bx-pager
a{}.bx-pager{position:absolute;left:75px;bottom:0}.bx-captions{text-align:center;font-size:12px;padding:7px
0;color:#666}.bx-auto{text-align:center;padding-top:15px}.bx-auto
a{color:#666;font-size:12px}